# Ignore contents of data folders while keeping structure
data/processed/*
data/raw/*
!data/processed/.gitkeep
!data/raw/.gitkeep

# Ignore contents of models folder and its subdirectories while keeping structure
models/*
!models/.gitkeep
!models/checkpoints/
!models/saved/
models/checkpoints/*
!models/checkpoints/.gitkeep
models/saved/*
!models/saved/.gitkeep

# Ignore contents of predictions folder while keeping structure
predictions/*
!predictions/.gitkeep

# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Virtual environment
venv/
env/
ENV/

# IDE settings
.vscode/
.idea/
*.swp
*.swo

# Jupyter Notebook
.ipynb_checkpoints

# Local configuration files
*.env
*.log

# history folder
.history/